<h1 *unlessButton="condition">Angular component</h1>
   <citySelect
    [isShowThree]="flag"
    (onVotedpro)="onVotedpro($event)"
    (onVotedcity)="onVotedcity($event)"
    (onVotedarea)="onVotedarea($event)"
    [currentProvinceCode]="setpro"
    [currentCityCode]="setcity"
    [currentAreaCode]="setarea"
   ></citySelect>
    <nav>
      <a routerLink="/crisis-center" routerLinkActive="active">Crisis Center</a>
      <a routerLink="/heroes" routerLinkActive="active">Heroes</a>
      <a [routerLink]="[{ outlets: { popup: ['compose'] } }]">Contact</a>
    </nav>
    <div>
        <div>
         <div class="month">      
           <ul>
             <li class="prev" (click)="getLastMonth('lastYear')">《</li>
             <li class="next" (click)="getLastMonth('nextYear')">》</li>
             <li class="prev" (click)="getLastMonth('lastMonth')">❮</li>
             <li class="next" (click)="getLastMonth('nextMonth')">❯</li>
             <li style="text-align:center">
               {{currentMonth+1}}月<br>
               <span style="font-size:12px">{{currentYear}}年</span>
             </li>
           </ul>
         </div>
         <ul class="weekdays">
           <li>日</li>
           <li>一</li>
           <li>二</li>
           <li>三</li>
           <li>四</li>
           <li>五</li>
           <li>六</li>
         </ul>
         <ul class="days">  
            <ng-container *ngFor="let day of twoMonth;let i=index;">         
              <li *ngIf="day.month!='next'&&i<=41" (click)="selectStart(day,i)" [class.isSelect]="day.isSelect">
                <span [class.active]="day.name==currentDay" [style.cursor]="day.name<currentDay?'not-allowed':'pointer'" [style.color]="day.month!='current'?'#c5c5c5':''">
                    <ng-container *ngIf="day.month=='current'">{{day.name}}</ng-container>
                </span>
              </li>
            </ng-container>   
          </ul>
         <div class="month">      
          <ul>
            <li style="text-align:center">
              {{currentMonth+2}}月<br>
              <span style="font-size:12px">{{currentYear}}年</span>
            </li>
          </ul>
        </div>
         <ul class="days">  
            <ng-container *ngFor="let day of twoMonth;let i=index;">
              <li *ngIf="day.month!='next'&&i>41" (click)="selectStart(day,i)" [class.isSelect]="day.isSelect">
                <span [style.color]="day.month!='current'?'#c5c5c5':''">
                    <ng-container *ngIf="day.month=='current'">{{day.name}}</ng-container>
                </span>
              </li>
            </ng-container>
          </ul>
       </div>
     </div>
    <router-outlet></router-outlet>
    <router-outlet name="popup"></router-outlet>
   <!-- <pagenation
    [totalitem]="totalitems"
    [pageitem]="pageitems"
    (changepage)="changepages($event)"
   ></pagenation> -->
   <br>
   <select-search></select-search>
<!--<tree-root [nodes]="nodes" [options]="options"></tree-root>-->
<!--引入根组件-->
<!-- <nz-root>
  </nz-root> -->
  <!-- <div echarts [options]="chartOption" class="demo-chart" style="height: 400px;"></div> -->
  <h1 *appUnless="condition">Hello {{name}}</h1>


  <!-- 日期 -->
  <div>
      <div >
       <div class="month">      
         <ul>
           <li class="prev" (click)="getLastMonth('lastYear')">《</li>
           <li class="next" (click)="getLastMonth('nextYear')">》</li>
           <li class="prev" (click)="getLastMonth('lastMonth')">❮</li>
           <li class="next" (click)="getLastMonth('nextMonth')">❯</li>
           <li style="text-align:center">
             {{currentMonth+1}}月<br>
             <span style="font-size:12px">{{currentYear}}年</span>
           </li>
         </ul>
       </div>
       <ul class="weekdays">
         <li>日</li>
         <li>一</li>
         <li>二</li>
         <li>三</li>
         <li>四</li>
         <li>五</li>
         <li>六</li>
       </ul>
       <ul class="days">  
         <li *ngFor="let day of currentShow"><span [class.active]="day.name==currentDay" [style.color]="day.month!='current'?'#c5c5c5':''">{{day.name}}</span></li>
       </ul>
     </div>
   </div>
   <!-- 日期时间 -->
   <div>
      <div *ngIf="selectDate">
       <div class="month">      
         <ul>
           <li class="prev" (click)="getLastMonth('lastYear')">《</li>
           <li class="next" (click)="getLastMonth('nextYear')">》</li>
           <li class="prev" (click)="getLastMonth('lastMonth')">❮</li>
           <li class="next" (click)="getLastMonth('nextMonth')">❯</li>
           <li style="text-align:center">
             {{currentMonth+1}}月<br>
             <span style="font-size:12px">{{currentYear}}年</span>
           </li>
         </ul>
       </div>
       <ul class="weekdays">
         <li>日</li>
         <li>一</li>
         <li>二</li>
         <li>三</li>
         <li>四</li>
         <li>五</li>
         <li>六</li>
       </ul>
       <ul class="days">  
         <li *ngFor="let day of currentShow" [class.select-date]="day.name==selectedDate" (click)="changeDate(day)"><span [class.active]="day.name==currentDay" [style.color]="day.month!='current'?'#c5c5c5':''">{{day.name}}</span></li>
       </ul>
     </div>
     <div *ngIf="!selectDate" >
         <div class="month">      
             <ul>
               <li style="text-align:center">
                 选择时间
               </li>
             </ul>
           </div>
           <div class="time-head">
             <ul>
               <li>时</li>
               <li>分</li>
               <li>秒</li>
             </ul>
           </div>
           <div class="time">
             <ul>
               <li *ngFor="let hour of hourArr" [class.time-active]="hour==selectedhour" (click)="selectHour(hour)">{{hour}}</li>
             </ul>
             <ul>
                 <li *ngFor="let minites of minitesArr" [class.time-active]="minites==selectedminites" (click)="selectMinites(minites)">{{minites}}</li>
               </ul>
             <ul>
                 <li *ngFor="let second of secondArr" [class.time-active]="second==selectedsecond" (click)="selectSecond(second)">{{second}}</li>
               </ul>
           </div>
     </div>
     <div class="layui-laydate-footer">
       <span lay-type="date" class="laydate-btns-time" *ngIf="selectDate" (click)="changeSelect('0')">选择时间</span>
       <span lay-type="date" class="laydate-btns-time" *ngIf="!selectDate" (click)="changeSelect('1')">返回日期</span>
       <div class="laydate-footer-btns">
         <span lay-type="clear" class="laydate-btns-clear">清空</span>
       <span lay-type="now" class="laydate-btns-now">现在</span>
       <span lay-type="confirm" class="laydate-btns-confirm">确定</span>
       </div>
     </div>
   </div>
