<!-- <div class="wrapSelect">
    <div class="erjiList " [class.erjiMenu]="isShowList">
        <div>{{selected}}</div>
        <div>
            <span class="setIcon">
                <input type="text" [(ngModel)]="selected" class="inputS" (click)="showList()" (blur)="close()" />
                <img src="../../../assets/img/arr-donw-01.png" class="setP" *ngIf="!isShowList">
                <img src="../../../assets/img/arr-up-01.png" class="setP" *ngIf="isShowList">
            </span>
        </div>
        <div class="overHeight" *ngIf="isShowList">
            <div class="erji erjiPad erjiHover">请选择</div>
            <ng-container *ngFor="let yiji of list">
                <div class="">
                    <span class="erji erjiName">{{yiji.name}}</span>
                    <div class="erjiList">
                        <ng-container *ngFor="let erji of yiji.children">
                            <div class="erji erjiPad erjiHover" (click)="select(erji)" [class.selectedOption]="erji.isSelect">{{erji.name}}</div>
                        </ng-container>
                    </div>
                </div>
            </ng-container>
        </div>
    </div>
</div> 

<!-- <ng-container *ngFor="let ele of treeArr">
    <div>
        {{ele.name}}
    </div>
    <div *ngIf="ele.children">
        <select-search></select-search>
        <ng-container *ngFor="let chi of ele.children">
            <div>{{chi.name}}</div>
        </ng-container>
    </div>
</ng-container> -->
<div style="border: 1px solid #ddd;height: 30px;width: 200px;" (click)="showTree()">
    {{selectValue}}
    <!-- <input *ngIf="showInput" type="text" [(ngModel)]="selectValue"> -->
</div>
<selectss *ngIf="showList" [treeArr]="treeArrS" (voted)="onVoted($event,false)"></selectss>
<!-- <ul >
    <li *ngFor="let item of treeArr;let index=index;">
        <span (click)="valuechange(item.name)" class="itemLi" [style.padding-left.px]="item.resourceCode*5">{{item.name}}</span>
        
    </li>
</ul> -->